body {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #eddec4;
  font-family: Roboto, sans-serif;
  margin: 0;
}

header1 {
    height: 8%;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    background-color: #eddec4;
    padding: 0 20px;
    margin-bottom: 20px;
}
header1 h1
{
    margin-left: 8%;
    margin-top: 4%;
    font-size: 3em;
    text-align: center;
}

.navigation1 {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20%;
}

.navigation1 a {
    white-space: nowrap;
    font-size: 1.7em;
    color: #402105;
    text-decoration: none;
    margin: 0 10px;
    position: relative;
}

.navigation1 a:first-child {
    margin-left: 50%; /* Remove margin-left for the first link */
}

.navigation1 a::after {
    content: '';
    position: absolute;
    left: 2%;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #693f10;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.navigation1 a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation1 .btnLogin-popup {
    content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: #693f10;
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation1 .btnLogin-popup:hover {
    background: #693f10;
    color: #693f10;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: white;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #693f10;
    font-size: 3em;
    color: #693f10;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 3em;
    color: #693f10;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
    font-size: 1.5em;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #693f10;
    outline: none;
    font-size: 2em;
    color: #693f10;
    font-weight: 600;
    padding: 0 0;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.8em;
    color: #693f10;
    line-height: 57px;
}

.remember-forgot {
    font-size: 1.2em;
    color: #693f10;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label {
    display: flex;
    align-items: center;
}
.btn {
    width: 100%;
    height: 45px;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2em;
    background-color: rgb(105, 63, 16);
    font-weight: 500;
}

.login-register {
    font-size: 1.0em;
    color: #693f10;
    text-align: center;
    font-weight: 200;
    margin: 1px 0 1px;
}

.login-register p a {
    color: #693f10;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

.login-text {
    color: #693f10;
}

.picture {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    border-radius: 50%;
    transition: opacity 0.3s;
}

.picture:hover {
    cursor: pointer;
}

.picture:active {
    opacity: 0.5;
}
